<div class="container">
  <div class="table-container">
    <div class="table">
      <div class="table-header">
        <div class="table-cell">Name</div>
        <div class="table-cell">Date of Birth</div>
        <div class="table-cell">Address</div>
      </div>
      <div class="table-body">
        <div class="table-row" *ngFor="let person of people" (click)="selectPerson(person)">
          <div class="table-cell">{{ person.name }}</div>
          <div class="table-cell">{{ person.dateOfBirth | date: 'dd/MM/yyyy'}}</div>
          <div class="table-cell">{{ person.address }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-container" *ngIf="selectedPerson">
    <div class="card" [ngClass]="{ 'show': selectedPerson }">
      <div class="card-header">
        <div class="table-cell">{{selectedPerson.name}}</div>
      </div>
      <div class="card-body">
        <span>Name:</span><input type="text" class="card-input" [(ngModel)]="selectedPerson.name" [disabled]="!editing" />
        <input type="text" class="card-input" [(ngModel)]="selectedPerson.dateOfBirth" [disabled]="!editing" />
        <input type="text" class="card-input" [(ngModel)]="selectedPerson.address" [disabled]="!editing" />
        <textarea class="card-textarea" [(ngModel)]="selectedPerson.details" [disabled]="!editing"></textarea>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="toggleEditing()">Edit</button>
        <button class="btn btn-secondary" (click)="savePerson()" [disabled]="!editing">Save</button>
        <button class="btn btn-secondary" (click)="closeCard()">Close</button>
      </div>
    </div>
  </div>
</div>
